*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: auto 0;
}

.container {
  margin-bottom: auto;
  min-width: 600px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.row {
  width: 100%;
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid black;
}

.cell:active {
  background-color: black;
}
